<style>
    body {
        background-color: #eee;
    }

    .card {
        border: none;
    }

    .user-content p {
        margin-top: 5px;
        font-size: 12px;
    }


    .ratings i {
        color: blue;
    }
</style>


<section class="section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                </div>
                <div class="container mt-5 mb-5">

                    <div class="row g-2">
                        <div class="col-md-4">
                            <div class="card p-3 text-center px-4">

                                <div class="user-image">

                                    <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">

                                </div>

                                <div class="user-content">

                                    <h5 class="mb-0">Yiğit Serezli</h5>
                                    <span>Serezli Otomotiv</span>
                                    <p>10 yılı aşkın süren ticaret hayatımızda güvenilir ve pratik çözümler üreten bir iş ortağı olmanın ötesinde, kötü günlerimizde de bizleri yanlız bırakmayan, sektörün öncü firmalarından biridir.</p>

                                </div>

                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card p-3 text-center px-4">

                                <div class="user-image">

                                    <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80">

                                </div>

                                <div class="user-content">

                                    <h5 class="mb-0">Funda Gürakarlı</h5>
                                    <span>CeyBer Eğitim Teknlojileri A.Ş</span>
                                    <p>Erk Otomotiv ile kısa süre önce tanışmamıza rağmen taleplerimizin karşılanma hızından dolayı çok memnum kaldık. Dürüst ve hızlı aksiyon alabilmeleri iş dünyasında sizlere güvenilir bir tedarikçi olduklarını hissettirmektedir. Yedek parça sektöründe en az rastlanan parçaların tedariği konusunda oldukça başarılı bir seviyedirler.</p>

                                </div>

                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card p-3 text-center px-4">

                                <div class="user-image">

                                    <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80">

                                </div>

                                <div class="user-content">

                                    <h5 class="mb-0">Veera  Duncan</h5>
                                    <span>Software Architect</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                                </div>

                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

